{% extends 'AnalyzerDir/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block page-header %} Analyzer {% endblock %}
{% block page-sub-header %} Analyzer Analytics {% endblock %}
{% block cssimport %}

    <!-- NProgress -->
    <link href="{% static 'vendor/nprogress/nprogress.css' %}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{% static 'vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">


    <!-- select bootstrap -->
    <!--https://github.com/silviomoreto/bootstrap-select-->
    <link href="{% static 'vendor/bootstrap-select-master/dist/css/bootstrap-select.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-select-master/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">


{% endblock %}


{% bootstrap_css %}
{% bootstrap_javascript %}
{% block bodycontent %}

    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>


    <div class="Launch-Header" align="center">
        <h1> this is Kaggle Santander product recommendation problem demo page. </h1>
        <button class="btn btn-primary">create PreProcessor</button>
        <button class="btn btn-warning">create PostProcessor</button>
    </div>
    <div class="clearfix"></div>


    <div class="controller">
        <!-- Analyzer Controller -->
        <div class="col-md-6 col-sm-6 col-xs-6" style="overflow:auto;">
            <div class="x_panel">
              <div class="x_title">
                <h2> Analyzer Controller <small>Pre Process/Data Analysis/Post Process</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>


              <div class="x_content">

                <p class="text-muted font-13 m-b-30">
                  Whole projects lists.
                </p>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if controllerform %}
                        {% bootstrap_form controllerform %}
                    {% endif %}
                    <input type="submit" class="btn btn-primary" value="Analyze" align="right">
                </form>
              </div>
            </div>
        </div>

    <!-- Analyzer Task -->
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="x_panel">
          <div class="x_title">
            <h2>TODO Task List <small> for whole </small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <!-- task-table-wrapper-->
            <div class="task-table-wrapper">
              <table class="table table-striped table-bordered bulk_action">
                <thead>
                  <tr>
                    <th>&nbsp;&nbsp;<input type="checkbox" id="check-all" class="flat"></th>
                    <th>priority</th>
                    <th style="display:none;"></th>
                    <th>task name</th>
                    <th>task submitter</th>
                  </tr>
                </thead>
                <tbody>
                  {% for task in tasks %}
                  <tr>
                    <td><input type="checkbox" class="flat" name="table_records"></td>
                    <td>{{ task.task_priority }}</td>
                    <td class="task-pk" style="display:none;">{{task.pk}}</td>
                    <td>{{ task.task_name }}</td>
                    <td>{{ task.task_submitter }} </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <div>
                <button class="btn btn-primary btn-sm btn-task-post" data-toggle="modal"
                        data-target="#task-post-modal">POST</button>
                <button class="btn btn-danger btn-sm btn-task-delete" data-toggle="modal"
                        data-target="#task-delete-confirm-modal">DELET</button>
              </div>
            </div>
            <!-- task-table-wrapper ends -->

          </div>
        </div>
      </div>
    <!-- end whole task list -->
    </div>
    <div class="clearfix"></div>


    <div class="PreProcessor">
        <!-- PreProcessor Sample -->
    </div>
    <div class="clearfix"></div>


    <div class="PostProcessor">
        <!-- PostProcessor Sample -->
        <!-- Scatter Plot -->
        <div class="col-md-12 col-sm-12 col-xs-12" style="overflow:auto;">
            <div class="x_panel">
              <div class="x_title">
                <h2> Data Visualization <small>whole projects</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>


              <div class="x_content">

                <p class="text-muted font-13 m-b-30">
                    Whole projects lists.
                    <a class="btn btn-sm btn-success" aria-label="scatter chart"><img src="{% static 'img/icons/fa-scatter-chart-o.png' %}" style="height:1.5em;"></img></a>
                    <a class="btn btn-sm btn-success" aria-label="line chart"><i class="fa fa-line-chart"></i></a>
                    <a class="btn btn-sm btn-success" aria-label="bar chart"><i class="fa fa-bar-chart"></i></a>
                    <a class="btn btn-sm btn-success" aria-label="area chart"><i class="fa fa-area-chart"></i></a>
                    <a class="btn btn-sm btn-success" aria-label="pie chart"><i class="fa fa-pie-chart"></i></a>
                </p>
                <div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
              </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block jsimport %}

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendor/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendor/nprogress/nprogress.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>


    <!-- Check Whether user intended to close the x_panel -->
    <script>
      $('i[class="fa fa-close"]').on('click',function(e){
        var r = confirm("Press a button");
        if (r == true) {
            x = "";
        } else {
            x = "You pressed Cancel!";
        }
      });
    </script>

    <script src="{% static 'vendor/bootstrap-select-master/dist/js/bootstrap-select.min.js' %}"></script>



    <!-- Scatter High Charts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    type: 'scatter',
                    zoomType: 'xy'
                },
                title: {
                    text: 'Height Versus Weight of 507 Individuals by Gender'
                },
                subtitle: {
                    text: 'Source: Heinz  2003'
                },
                xAxis: {
                    title: {
                        enabled: true,
                        text: 'Height (cm)'
                    },
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true
                },
                yAxis: {
                    title: {
                        text: 'Weight (kg)'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 100,
                    y: 70,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                    borderWidth: 1
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '{point.x} cm, {point.y} kg'
                        }
                    }
                },
                series: [{
                    name: 'Female',
                    color: 'rgba(223, 83, 83, .5)',
                    data: [[161.2, 51.6], [167.5, 59.0], [159.5, 49.2], [157.0, 63.0], [155.8, 53.6],
                        [170.0, 59.0], [159.1, 47.6], [166.0, 69.8], [176.2, 66.8], [160.2, 75.2],
                        [172.5, 55.2], [170.9, 54.2], [172.9, 62.5], [153.4, 42.0], [160.0, 50.0],]
                }, {
                    name: 'Male',
                    color: 'rgba(119, 152, 191, .5)',
                    data: [[174.0, 65.6], [175.3, 71.8], [193.5, 80.7], [186.5, 72.6], [187.2, 78.8],
                        [181.5, 74.8], [184.0, 86.4], [184.5, 78.4], [175.0, 62.0], [184.0, 81.6],]
                }]
            });
        });
    </script>
{% endblock %}

