{% extends 'MultiMediaDir/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block page-header %} MultiMedia {% endblock %}
{% block page-sub-header %} MultiMedia Analytics {% endblock %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% block bodycontent %}

    <h1>Image Analysis!</h1>

    <section>
        {% if images %}
            {% for image in images %}
            <p>
                <img src="{{ image.image_file.url }}" height="100" width="auto"/>
            </p>
            {% endfor %}
        {% endif %}
    </section>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title"></div>
        </div>
    </div>

    <button id="video-form-loader" class="btn btn-primary btn-lg">
        <i id="video-form-loader-i" class="fa fa-upload" aria-hidden="true"></i>
    </button>

    <button id="image-form-preprocess-loader" class="btn btn-warning btn-lg">
        <i id="video-form-preprocess-loader-i" class="fa fa-crop" aria-hidden="true">preprocess</i>
    </button>

    <div id="form-div" style="display:none">
        <form id="image-upload-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="image" class=" btn btn-primary fa fa-upload"/>
        </form>
    </div>
    <div id="form-preprocess-div" style="display:none">
        <form id="image-preprocess-upload-form" action="image-preprocess/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="image" class=" btn btn-primary fa fa-upload"/>
        </form>
    </div>

{% endblock %}
{% block jsimport %}
    <script type="text/javascript">
        $('#image-form-loader').click(function(e){
            $('#form-div').show();
        });
        $('#image-form-preprocess-loader').click(function(e){
            $('#form-preprocess-div').show();
        });
    </script>
{% endblock %}