{% extends 'AudioDir/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block page-header %} Audio {% endblock %}
{% block page-sub-header %} Welcome to Audio analytics {% endblock %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block cssimport %}
    <style>
        .card-image-containers {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .card-image-containers .card-after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            color: #FFF;
        }
        .card-image-containers:hover .card-after {
            display: block;
            background: rgba(0, 0, 0, .6);
        }

        .card-image-containers:hover .card-after .card-after-innerbutton{
            display: block;
            position :absolute;
            top: 45%;
            left: 45%;
        }

        .base-control-overimg{
            opacity:0
        }

        .card-image-containers:hover .base-control-overimg {
            opacity:0.9
        }


        .glyphicon.glyphicon-play {
            font-size: 200%;
        }


        .glyphicon.glyphicon-pause {
            font-size: 200%;
        }


        .colorbrown{color:#9b846b}
    </style>
{% endblock%}

{% block bodycontent %}

    <audio controls>
      <source src="{% static 'audiofile/crazylove.mp3' %}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <audio id="myaudio" preload="none">
      <source src="{% static 'audiofile/crazylove.mp3' %}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
    <a href="#" id="audioControl">play</a>


            <div class="card">
                <div class="card-image-containers">
                    <img id="card" class="card-img-top" src="{{ albums_all.0.album_logo }}" alt="Card image cap" style="max-width: 300px; height: auto;" >
                    <div class="card-after">
                        <a href="#">
                          <span id="playbutton-overimg" class="glyphicon glyphicon-play card-after-innerbutton colorbrown"></span>
                        </a>
                        <audio id="audio_test" preload="none">
                            <source src="{% static 'audiofile/crazylove.mp3' %}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
              <div class="card-block text-xs-center">
                <h4 class="card-title">{{ album.album_title }}</h4>
                <p class="card-text">{{ album.artist }}</p>
                <div class="row">
                    <a href="{% url 'audio:detail' albums_all.0.id %}" class="btn btn-primary">Detail</a>
                    <form action="{% url 'audio:album-delete' albums_all.0.id %}" method="post" name="deletebuttonclicked">
                        {% csrf_token %}
                        <input type="hidden" class="btn btn-secondary" name="Details" value="Details">
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </div>
              </div>
            </div>

            <div class="card">
                <div class="card-image-containers">
                    <img id="card2" class="card-img-top" src="{{ albums_all.0.album_logo }}" alt="Card image cap" style="max-width: 300px; height: auto;" >
                    <div class="card-after">
                        <a href="#">
                          <span class="card-after-innerbutton colorbrown"></span>
                        </a>

                        <audio class="base-control-overimg" controls>
                          <source src="{% static 'audiofile/crazylove.mp3' %}" type="audio/mpeg">
                        Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
              <div class="card-block text-xs-center">
                <h4 class="card-title">{{ album.album_title }}</h4>
                <p class="card-text">{{ album.artist }}</p>
                <div class="row">
                    <a href="{% url 'audio:detail' albums_all.0.id %}" class="btn btn-primary">Detail</a>
                    <form action="{% url 'audio:album-delete' albums_all.0.id %}" method="post" name="deletebuttonclicked">
                        {% csrf_token %}
                        <input type="hidden" class="btn btn-secondary" name="Details" value="Details">
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </div>
              </div>
            </div>

    <script style="javascript">
        var myaudio_control = document.getElementById('myaudio'),
        ctrl = document.getElementById('audioControl');

        ctrl.onclick = function(){
            var pause = ctrl.innerHTML === 'pause';
            ctrl.innerHTML = pause ? 'play' : 'pause';
            var method = pause ? 'pause' : 'play';
            myaudio_control[method]();
            return false;
        };
    </script>
    <script style="javascript">
        var card_audio_control = document.getElementById('audio_test');
        var play_button = document.getElementById("playbutton-overimg");
        play_button.onclick = function(){
            var pause = play_button.getAttribute("class") === "glyphicon glyphicon-play card-after-innerbutton colorbrown";
            if (pause){
                play_button.setAttribute("class","glyphicon glyphicon-pause card-after-innerbutton colorbrown");
            }else{
                play_button.setAttribute("class","glyphicon glyphicon-play card-after-innerbutton colorbrown");
            }
            var method = pause ? 'play' : 'pause';
            card_audio_control[method]();
            return false;
        };
    </script>
    <script style="javascript">

    </script>


    {% if albums_all %}
        <ul>
            {% for album in albums_all %}
            <li>
                <a href="{% url 'audio:detail' album.id %}">{{album.id}},{{ album.album_title }}</a>
            </li>
            {% endfor %}
        </ul>

        {% for album in albums_all %}
          <div class="col-md-4">
            <div class="card">
                <div class="card-image-containers">
                    <img id="cards" class="card-img-top" src="{{ album.album_logo }}" alt="Card image cap" style="max-width: 300px; height: auto;" >
                    <div class="card-after">
                        <!--<a href="#">
                          <span id="playbutton-overimgs" class="glyphicon glyphicon-play-circle card-after-innerbutton colorbrown"></span>
                        </a>-->
                        <audio class="base-control-overimg" controls>
                          <source src="{% static 'audiofile/crazylove.mp3' %}" type="audio/mpeg">
                        Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
              <div class="card-block text-xs-center">
                <h4 class="card-title">{{ album.album_title }}</h4>
                <p class="card-text">{{ album.artist }}</p>
                <div class="row">
                    <a href="{% url 'audio:detail' album.id %}" class="btn btn-primary">Detail</a>
                    <form action="{% url 'audio:album-delete' album.id %}" method="post" name="deletebuttonclicked">
                        {% csrf_token %}
                        <input type="hidden" class="btn btn-secondary" name="Details" value="Details">
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    {% endif %}
{% endblock %}