<!DOCTYPE html>

<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Summa{% endblock %}</title>

    {% block cssimport %}{% endblock %}

    <!-- Summa Custom CSS -->
    <link href="{% static 'css/Summa-home.css' %}" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% url 'home:index' %}">Project Summa</a>
                </div>



                <!-- search -->
                <form id="searchform" class="navbar-form navbar-left" role="search" method="get" action="/searchresult/">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value=""/>
                        <input type="hidden" name="scope" value=""/>
                    </div>
                    <button type="submit" class="btn-sm btn-nav" style="background-color:white;">Search</button>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-align-left" aria-hidden="true"/>
                  </a>
                    <ul class="dropdown-menu">
                      <li>
                          <a href="#">
                              <span class="label label-warning pull-right"></span>
                              <i class="glyphicon glyphicon-cd"></i>
                              <label class="radio-inline"><input type="radio" value="Album:artist" name="opt">artist name</label>
                              <label class="radio-inline"><input type="radio" value="Album:album_title" name="opt">album-title</label>
                              <label class="radio-inline"><input type="radio" value="Album:genre" name="opt">genre</label>
                          </a>
                          <a href="#">
                              <span class="label label-warning pull-right"></span>
                              <i class="glyphicon glyphicon-music"></i>
                              <label class="radio-inline"><input type="radio" value="Song:album" name="opt">album</label>
                              <label class="radio-inline"><input type="radio" value="Song:song_title" name="opt">song title</label>
                              <label class="radio-inline"><input type="radio" value="Song:song_lyrics" name="opt">song lyrics</label>
                          </a>
                      </li>
                      <li><a href="#"> <span class="label label-success pull-right"><i class="fa fa-check fa-fw"></i></span><i class="fa fa-copy fa-fw"></i>Daten </a></li>
                      <li><a href="#"> <span class="label label-warning pull-right">4</span><i class="fa fa-sitemap fa-fw"></i>Standorte </a></li>
                      <li><a href="#"> <span class="label label-warning pull-right">2</span><i class="fa fa-truck fa-fw"></i>Adressen </a></li>
                      <li><a href="#"> <span class="label label-warning pull-right">4</span><i class="fa fa-credit-card fa-fw"></i>Bank </a></li>
                      <li><a href="#"> <span class="label label-warning pull-right">5</span><i class="fa fa-sitemap fa-fw"></i>Dokumente? </a></li>
                    </ul>
                </form>



                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a href="{% url 'audio:index' %}">Audio</a>
                        </li>
                        <li>
                            <a href="{% url 'image:index' %}">Image/Video</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Downloads</a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Pytrading</a>
                              </li>
                              <li><a href="#">JdataAnalyzer</a>
                              </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'multimedia:index' %}">Scrapper</a>
                        </li>
                        <li>
                            <a href="{% url 'multimedia:index' %}">Analyzer</a>
                        </li>
                        <li>
                            <a href="{% url 'multimedia:index' %}">Representer</a>
                        </li>

                        <li>
                            <a href="{% url 'projectmanager:index' %}">PM</a>
                        </li>
                        <li>
                            <a href="{% url 'contact:index' %}">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                {% if is_authenticated == False %}
                    <a id="login-button" href="{% url 'home:logintmp' %}" type="button" class="btn btn-default"\
                    value="{{ is_authenticated }}">Login</a>
                    <a id="signin-button" href="{% url 'home:register' %}" type="button" class="btn btn-default"\
                    value="{{ is_authenticated }}">Signin</a>
                {% elif is_authenticated == True %}
                    <a id="logout-button" href="{% url 'home:logouttmp' %}" type="button" class="btn btn-default"\
                       value="{{ is_authenticated }}">logout</a>
                {% endif %}


            </div>
            <!-- /.container -->
        </nav>

        <!-- Navigation -->

        <!--
        <nav class="navbar navbar-default navbar-custom">
            <div class="container-fluid">
                &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        Menu <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'audio:index' %}">Audio</a>
                        </li>
                        <li>
                            <a href="{% url 'image:index' %}">Image/Video</a>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right">
                        <a class="btn btn-outline-success" type="button" href="{% url 'home:register' %}">Login/Signin</a>
                    </form>
                </div>
            </div>
        </nav>-->

        <header class="intro-header" style=" background-image: url({% static 'img/home-bg.jpg' %}) ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>{% block page-header %}Clean Blog{% endblock %}</h1>
                            {% if is_authenticated == True and is_login == True %}<h2>Good to see you {{ username }}.</h2>{% endif %}
                            {% if is_authenticated == True %}<h2>Good to see you {{ request.user.username }}.</h2>{% endif %}

                            <hr class="small">
                            <span class="subheading">{% block page-sub-header %} Welcome! {% endblock %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% block bodycontent %}
        {% endblock %}

        {% if is_authenticated %}
            <p>id : {{ is_authenticated }}</p>
        {% endif %}

        <p id="bodyaws"></p>

        <script type="text/javascript">
            $(document).ready(function(){
                $("input[type='radio'][name='opt']").change(function(){
                    var scopeval = String($(this).val());
                    alert(scopeval);

                    $('#bodyaws').text(String($(this).val()));

                    <!-- radio_value : input_value -->
                    $("input[name='scope']").attr('value',scopeval);
                });
            });

        </script>

        <!-- jQuery -->
        <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

        <!-- Contact Form JavaScript -->
        <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
        <script src="{% static 'js/contact_me.js' %}"></script>

        <!-- Theme JavaScript -->
        <script src="{% static 'js/clean-blog.min.js' %}"></script>

    </body>
</html>