{% extends 'ProjectManagerDir/base.html' %}
{% load static %}
{% load profile_tag %}
{% load bootstrap3 %}
{% block page-header %} ProjectManager {% endblock %}
{% block page-sub-header %} ProjectManager Analytics {% endblock %}
{% block cssimport %}

    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css" rel="stylesheet">
    <!-- responsive : category-workspace-table -->
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css" rel="stylesheet">


    <style>
.controller-form-table > th, td{
  padding:15px;
}


.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

        .imagewrap {display:inline-block;position:relative;}
        .button1 {position:absolute;bottom:0;left:0;}
        .button2 {position:absolute;bottom:0;right:0;}
        .button3 {position:absolute;right:50%;top:50%;}

        #img_container {
            display:inline-block;
            position:relative;
            text-align:center;
            border:1px solid red;
        }
        .img_container_button {
            position:absolute;
            right:50%;
            top:50%;
            opacity:0;
        }
        .img_container_button:hover{
            opacity:1;
        }

        .image-containers {
            position: relative;
            width: 200px;
            height: 300px;
        }
        .image-containers .after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            color: #FFF;
        }
        .image-containers:hover .after {
            display: block;
            background: rgba(0, 0, 0, .6);
        }
        .image-containers:hover .after .after_innerbutton{
            display: block;
            position :absolute;
            top: 45%;
            left: 45%;
        }


        .card-image-containers {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .card-image-containers .card-after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            color: #FFF;
        }
        .card-image-containers:hover .card-after {
            display: block;
            background: rgba(0, 0, 0, .6);
        }
        .card-image-containers:hover .card-after .card-after-innerbutton{
            display: block;
            position :absolute;
            top: 45%;
            left: 45%;
        }

        .glyphicon.glyphicon-play-circle {
            font-size: 200%;
        }

        .colorbrown{color:#9b846b}
    </style>
{% endblock %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% block bodycontent %}
        <p style="padding-top: 70px;"></p>
        <div class="">
            <div class="page-title">
              <div class="title_left">
                <button class="btn btn-primary btn-lg" value="">create controller</button>
                <button class="btn btn-primary btn-lg" value="">create workspace</button>
                <button class="btn btn-default btn-lg" value="">create category</button>
                <button class="btn btn-warning btn-lg" value="">create project</button>
              </div>
            </div>



            <!-- start controller  -->
            <div class="controller">
              <!-- controller menus -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-chevron-down"></i> Controller <small>manages categories and workspaces</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <ul class="nav nav-pills" role="tablist">

                      <li role="presentation"><a href="#">Regular link</a>
                      </li>
                      <li role="presentation" class="dropdown">
                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                          ControllerFirstDown
                          <span class="caret"></span>
                        </a>
                        <ul id="menu6" class="dropdown-menu animated fadeInDown" role="menu">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Category Tree</a>
                          </li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Current controller graph</a>
                          </li>
                          <li role="presentation" class="divider"></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Separated link</a>
                          </li>
                        </ul>
                      </li>
                        <li>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#category-choose-modal">Open Category</button>
                        </li>
                    </ul>



                  <!-- Choose Category Modal -->
                      <div class="container">
                          <!-- Task Post Modal -->
                          <div class="modal fade" id="category-choose-modal" role="dialog">
                            <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Task Post</h4>
                                </div>
                                  <form action="/projectmanager/" method="post">
                                    {% csrf_token %}
                                  <select class="selectpicker" name="category-open-select" multiple>
                                      {% for category in categories %}
                                        <option name="{{ category.pk }}" value="{{ category.pk }}">{{ category.category_name }}</option>
                                      {% endfor %}
                                  </select>

                                    <input type="submit" class="btn btn-primary" name="category-select" value="submit">
                                  </form>
                              </div>
                            </div>
                          </div>
                        </div>











                    <!-- start whole project lists  -->
                    <div class="col-md-12 col-sm-12 col-xs-12" style="overflow:auto;">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2> Categories and Workspaces <small>whole projects</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">Settings 1</a>
                                  </li>
                                  <li><a href="#">Settings 2</a>
                                  </li>
                                </ul>
                              </li>
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>


                          <div class="x_content">

                            <p class="text-muted font-13 m-b-30">
                              Whole projects lists.
                            </p>
                            <table id="ctr1-catogory-workspace-table" class="display responsive nowrap" cellspacing="0" width="100%">
                              <thead>
                                <tr>
                                  <th>Category</th>
                                  <th>Workspace</th>
                                  <th>Project Title</th>
                                  <th>Team members</th>
                                  <th>Start date</th>
                                  <th>Deadline</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for project in projects %}
                                <tr>
                                    <td>{{ project.project_category.category_name }}</td>
                                    <td>
                                      {% for pw_names in projects_workspace_names %}
                                        {% if forloop.counter0 == forloop.parentloop.revcounter0 %}
                                        {% for pw_name in pw_names %}
                                          {{ pw_name }}
                                        {% endfor %}
                                        {% endif %}
                                      {% endfor %}
                                    </td>
                                    <td>{{ project.project_name }}</td>
                                    <td>
                                      {% for pm_names in projects_member_names %}
                                        {% if forloop.counter0 == forloop.parentloop.revcounter0 %}
                                        {% for pm_name in pm_names %}
                                          {{ pm_name }}
                                        {% endfor %}
                                        {% endif %}
                                      {% endfor %}
                                    </td>
                                    <td>
                                      {{ project.project_start_date }}
                                    </td>
                                    <td>
                                      {{ project.project_deadline }}
                                    </td>
                                    <td>
                                      <a class="view-project-instance" style="cursor:pointer;"><i class="fa fa-tag"></i>
                                      view project</a>
                                      <a class="view-category-instance" style="cursor:pointer;"><i class="fa fa-tags"></i>
                                      view category</a>
                                      <a class="view-workspace-instance" style="cursor:pointer;"><i class="fa fa-tasks"></i>
                                      view workspace</a>
                                    </td>
                                </tr>
                                {% empty %}
                                  <p> 게시물이 없습니다. </p>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                    <!-- end whole project lists -->

                    <!-- start whole task list -->
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>TODO Task List <small> for whole </small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">Settings 1</a>
                                  </li>
                                  <li><a href="#">Settings 2</a>
                                  </li>
                                </ul>
                              </li>
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <!-- task-table-wrapper-->
                            <div class="task-table-wrapper">

                              <table id="ctr1-task-table1" class="display" width="100%" cellspacing="0">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th style="display:none;"></th>
                                    <th>priority</th>
                                    <th>task name</th>
                                    <th>task submitter</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for task in tasks %}
                                  <tr>
                                    <td></td>
                                    <td class="task-pk" style="display:none;">{{task.pk}}</td>
                                    <td>{{ task.task_priority }}</td>
                                    <td>{{ task.task_name }}</td>
                                    <td>{{ task.task_submitter }} </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>

                              <div>
                                <button class="btn btn-primary btn-sm btn-task-post" data-toggle="modal"
                                        data-target="#task-post-modal">POST</button>
                                <button class="btn btn-danger btn-sm btn-task-delete" data-toggle="modal"
                                        data-target="#task-delete-confirm-modal">DELET</button>
                              </div>

                            </div>
                            <!-- task-table-wrapper ends -->
                            <!-- add task modal -->
                            <div class="container">
                              <!-- Task Post Modal -->
                              <div class="modal fade" id="task-post-modal" role="dialog">
                                <div class="modal-dialog">

                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Task Post</h4>
                                    </div>
                                      <form action="/projectmanager/" method="post">
                                        {% csrf_token %}
                                        {% bootstrap_form taskform %}
                                        <input type="submit" class="btn btn-primary" name="taskform_submit" value="submit">
                                          <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
                                      </form>
                                        <!--{% include 'ProjectManagerDir/task-form-django-admin.html' %}-->
                                  </div>

                                </div>
                              </div>
                            </div>

                            <!-- delete confirmation modal -->
                            <div class="container">
                              <!-- Task Post Modal -->
                              <div class="modal fade" id="task-delete-confirm-modal" role="dialog">
                                <div class="modal-dialog">

                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Task delete confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                      <p> Are you sure to delete ?</p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit" id="delete_yes_button1" class="btn btn-default delete_yes_button" data-dismiss="modal" name="delete_task" value="1">Yes</button>
                                      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>



                          </div>
                        </div>
                      </div>
                    <!-- end whole task list -->

                    <!-- start whole contributor rank -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2> Contribution Ranker</h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">Settings 1</a>
                                  </li>
                                  <li><a href="#">Settings 2</a>
                                  </li>
                                </ul>
                              </li>
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <table id="ctr1-contribution-ranker-table" class="display" cellspacing="0" width="100%">
                                <thead>
                                <th>rank</th>
                                <th>name</th>
                                <th>progress</th>
                                <th>dep.</th>
                                </thead>
                                <tbody>
                                {% for member in members %}
                                    <tr>
                                        <td> {{ forloop.counter0|add:1 }} </td>
                                        <td> {{ member.member_name }} </td>
                                        <td> {{ member|member_progress_sum}} </td>
                                        <td> {{ member.member_department }} </td>
                                    <tr/>
                                {% endfor %}
                                </tbody>
                            </table>
{##}
{#                            <div class="">#}
{#                              <ul class="to_do">#}
{#                                {% for member in members %}#}
{#                                  <li>#}
{#                                  <p> {{ member.member_name }} : {{ member|member_progress_sum}} <p>#}
{#                                </li>#}
{#                                {% endfor %}#}
{#                              </ul>#}
{#                            </div>#}
                          </div>
                        </div>
                      </div>
                    <!-- end whole contributor rank  -->

                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- end controller -->


        {% for selected_category in categories_selected %}
            <!-- start category -->
            <div class="category">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-bars"></i> {{ selected_category.category_name }} <small>selected category</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="reload-link"><i class="fa fa-refresh"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Current Projects</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Previous Projects</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Relation Directed Graph</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Task Feature abstraction</a>
                        </li>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Member Categorization</a>
                        </li>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Search available architecture Dependency tree</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <p></p>

                              <!-- proejects controller inside home panel -->
                              <div class="x_panel">
                                <div class="x_title">
                                  <h2>Projects related to this Category</h2>
                                  <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                      </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                  </ul>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                  <p>Simple table with project listing with progress and editing options</p>

                                  <!-- start project list -->
                                  <table class="table table-striped projects">
                                    <thead>
                                      <tr>
                                        <th style="width: 1%">#</th>
                                        <th style="width: 20%">Project Name</th>
                                        <th>Team Members</th>
                                        <th>Project Progress</th>
                                        <th>Start Date</th>
                                        <th style="width: 20%">Deadline</th>
                                      </tr>
                                    </thead>
                                    <tbody>
















                                {% for project in projects %}
                                    {% with project.project_category.category_name as catsel %}
                                        {% if catsel == selected_category.category_name %}
                                <tr>
                                    <td>{{ forloop.counter0 }}</td>
                                    <td>{{ project.project_name }}</td>
                                    <td>
                                      {% for pm_names in projects_member_names %}
                                        {% if forloop.counter0 == forloop.parentloop.revcounter0 %}
                                        {% for pm_name in pm_names %}
                                          {{ pm_name }}
                                        {% endfor %}
                                        {% endif %}
                                      {% endfor %}
                                    </td>
                                    <td>{{ project|project_progress_sum }}</td>
                                    <td>
                                      {{ project.project_start_date }}
                                    </td>
                                    <td>
                                      {{ project.project_deadline }}
                                    </td>
                                </tr>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}










                                    {% if categoris %}
                                    {% for category in categoris %}

                                      <tr>
                                        <td>
                                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                          </li>
                                        </td>
                                        <td>
                                          <a>First row</a>
                                          <br />
                                          <small>Created 01.01.2015</small>
                                        </td>
                                        <td>
                                          <ul class="list-inline">
                                            <li>
                                              <img src="{% static 'img/user.png' %}" class="avatar" alt="Avatar">
                                            </li>
                                            <li>
                                              <img src="{% static 'img/user.png' %}" class="avatar" alt="Avatar">
                                            </li>
                                            <li>
                                              <img src="{% static 'img/user.png' %}" class="avatar" alt="Avatar">
                                            </li>
                                            <li>
                                              <img src="{% static 'img/user.png' %}" class="avatar" alt="Avatar">
                                            </li>
                                          </ul>
                                        </td>
                                        <td class="project_progress">
                                          <div class="progress progress_sm">
                                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
                                          </div>
                                          <small>57% Complete</small>
                                        </td>
                                        <td>
                                          <button type="button" class="btn btn-success btn-xs">Success</button>
                                        </td>
                                        <td>
                                          <a href="#" class="btn btn-primary btn-xs view-project-detail"><i class="fa fa-folder"></i> View </a>
                                          <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                          <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    {% endif %}
                                    </tbody>
                                  </table>
                                  <!-- end project list -->

                                </div>
                              </div>
                              <!-- end proejects  inside home panel -->

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                            booth letterpress, commodo enim craft beer mlkshk aliquip</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                          <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                            booth letterpress, commodo enim craft beer mlkshk </p>
                          <div id="category-tree"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                          <p> D3.js graph representation with JSON data format </p>
                          <div id="task-graph"></div>
                        </div>
                      </div>
                    </div>

                      <div class="clearfix"></div>
                      <!-- start category projects task list -->
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>TODO Task List <small>under current category</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">Settings 1</a>
                                  </li>
                                  <li><a href="#">Settings 2</a>
                                  </li>
                                </ul>
                              </li>
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div class="">
                              <ul class="to_do">
                                {% for task in tasks %}
                                  <li>
                                  <p>
                                    <input type="checkbox" class="flat"> {{ task.task_name }} </p>
                                </li>
                                {% endfor %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end category projects task list -->
                      <!-- start category projects Done list -->
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Done List <small>Sample tasks</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">Settings 1</a>
                                  </li>
                                  <li><a href="#">Settings 2</a>
                                  </li>
                                </ul>
                              </li>
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">

                            <div class="">
                              <ul class="to_do">
                                <li>
                                  <p>
                                    <input type="checkbox" class="flat"> Schedule meeting with new client </p>
                                </li>
                                <li>
                                  <p>
                                    <input type="checkbox" class="flat"> Create email address for new intern</p>
                                </li>
                                <li>
                                  <p>
                                    <input type="checkbox" class="flat"> Have IT fix the network printer</p>
                                </li>
                                <li>
                                  <p>
                                    <input type="checkbox" class="flat"> Copy backups to offsite location</p>
                                </li>
                                <li>
                                  <p>
                                    <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
                                </li>
                                <li>
                                  <p>
                                    <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end category projects Done list -->
                    </div>
                    <!-- content end-->
                </div>
              </div>
            </div>
            <!-- end category -->
        {% endfor %}

        </div>

{% endblock %}
{% block jsimport %}

    <!-- FastClick -->
    <script src="{% static 'vendor/fastclick/lib/fastclick.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>


    <!-- Custom Notification -->
    <script>
      $(document).ready(function() {
        var cnt = 10;

        TabbedNotification = function(options) {
          var message = "<div id='ntf" + cnt + "' class='text alert-" + options.type + "' style='display:none'><h2><i class='fa fa-bell'></i> " + options.title +
            "</h2><div class='close'><a href='javascript:;' class='notification_close'><i class='fa fa-close'></i></a></div><p>" + options.text + "</p></div>";

          if (!document.getElementById('custom_notifications')) {
            alert('doesnt exists');
          } else {
            $('#custom_notifications ul.notifications').append("<li><a id='ntlink" + cnt + "' class='alert-" + options.type + "' href='#ntf" + cnt + "'><i class='fa fa-bell animated shake'></i></a></li>");
            $('#custom_notifications #notif-group').append(message);
            cnt++;
            CustomTabs(options);
          }
        };

        CustomTabs = function(options) {
          $('.tabbed_notifications > div').hide();
          $('.tabbed_notifications > div:first-of-type').show();
          $('#custom_notifications').removeClass('dsp_none');
          $('.notifications a').click(function(e) {
            e.preventDefault();
            var $this = $(this),
              tabbed_notifications = '#' + $this.parents('.notifications').data('tabbed_notifications'),
              others = $this.closest('li').siblings().children('a'),
              target = $this.attr('href');
            others.removeClass('active');
            $this.addClass('active');
            $(tabbed_notifications).children('div').hide();
            $(target).show();
          });
        };

        CustomTabs();

        var tabid = idname = '';

        $(document).on('click', '.notification_close', function(e) {
          idname = $(this).parent().parent().attr("id");
          tabid = idname.substr(-2);
          $('#ntf' + tabid).remove();
          $('#ntlink' + tabid).parent().remove();
          $('.notifications a').first().addClass('active');
          $('#notif-group div').first().css('display', 'block');
        });
      });
    </script>
    <!-- /Custom Notification -->

    <!-- Check Whether user intended to close the x_panel -->
    <script>
      $('i[class="fa fa-close"]').on('click',function(e){
        var r = confirm("Press a button");
        if (r == true) {
            x = "";
        } else {
            x = "You pressed Cancel!";
        }
      });
    </script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- Crash with vendor jquery -->
{#    <script src="{% static 'js/jquery-1.24.js' %}"></script>#}
    <script src="{% static 'js/jquery.cookie.js' %}"></script>

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
    <!-- responsive : category-workspace-table -->
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>


    <script src="{% static 'js/Summa_ProjectManager_tmp.js' %}"></script>



{% endblock %}