{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

    <button id="goto" class="btn btn-primary">goto analyzer</button>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script>
        $('#goto').on('click', function()
            {
                window.location.href = "analyzer/"
            }
        )
    </script>
</body>
</html>